body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: #1c1a19;
  background-image: url("images/Illustration.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 150px 350px;
  margin: -10px;
}

nav .menu {
  color: #fff;
}

.toolbar a {
  text-decoration: none;
  color: #fff;
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.socialfooter li a {
  color: #505f79;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3c3a39;
  width: 100%;
}

.nav {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: #3c3a39;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0 24px;
}

.align-end {
  align-self: flex-end;
}

.border-bottom {
  border-bottom: 1px solid #979493;
  padding-bottom: 10px;
  width: 100%;
}

.nav-bar-list {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 25px;
}

.nav-bar-list:hover {
  color: tan;
}

nav a:hover {
  color: tan;
}

.social li a {
  color: #dbd8d7;
}

.toolbar a:hover {
  color: tan;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 65px 20px;
}

.card h1 {
  font-size: 56px;
  color: #ff6b00;
  font-family: "Crete Round", serif;
  letter-spacing: 0.37px;
}

.card h2 {
  font-size: 24px;
  color: #fff5e1;
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: -45px;
}

.card p {
  font-size: 16px;
  color: #fff;
  font-family: Poppins, sans-serif, "Times New Roman", Times, serif;
  margin-top: -15px;
  width: 320px;
}

.social {
  display: flex;
  padding-left: 3px;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  padding-top: 10px;
}

.social li a:hover {
  color: tan;
}

.container1 {
  display: grid;
  grid-row-gap: 50px;
  grid-template-rows: 800px 2800px;
  margin: 10px 0;
  width: 100%;
  height: 3600px;
}

.card2container li {
  grid-template-rows: repeat(6, 386px);
  grid-row-gap: 50px;
}

.card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 20px;
}

.card1 h2 {
  display: flex;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  text-align: center;
  color: #1c1a19;
  justify-items: center;
  margin: 0;
}

hr {
  width: 327px;
  background-color: #212121;
}

img {
  margin-top: 50px;
}

.multiple {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
}

.multiple h3 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  color: #091e42;
  margin-bottom: 10px;
}

.multiple p {
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.buttons {
  display: flex;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons li {
  margin-right: 10px;
}

.button {
  background-color: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
  color: #091e42;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.button:hover {
  background-color: #8993a4;
}

.orange-button {
  background-color: #ff6b00;
  border: none;
  padding: 12px;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-top: 10px;
  filter: contrast(1.8);
}

.orange-button:hover {
  background-color: tan;
}

.card2 {
  display: flex;
  flex-direction: column;
  background-image: url(images/card2.png);
  justify-content: flex-end;
  list-style: none;
  filter: contrast(1.5);
}

.card2 h3 {
  color: #fff;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin: 6px 0;
  padding: 0 24px;
}

.card2 p {
  color: #ffff;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 6px 0;
  padding: 0 24px;
}

.buttons1 {
  display: flex;
  width: 100%;
  padding: 0 24px;
  position: relative;
  bottom: 10px;
}

.buttons1 li {
  margin-right: 10px;
}

.button1 {
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
  box-sizing: border-box;
  padding: 10px 12px;
  color: #ffff;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  filter: contrast(1.8);
}

.button1:hover {
  background-color: #8993a4;
}

.orange-button2 {
  width: 100%;
}

.container2 {
  display: flex;
  flex-direction: column;
  height: 1901px;
  background-color: #1c1a19;
  margin: -10px;
  padding: 120px 0 0 24px;
}

.aboutMe {
  height: 563px;
  background-image: url(images/Frame.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.aboutMe h1 {
  width: 100%;
  height: 79px;
  left: 24px;
  top: 120px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  margin: 24px 0;
  padding: 0;
  letter-spacing: 0.4px;
}

.aboutMe p {
  width: 327px;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 24px 0;
}

.container2 hr {
  top: calc(50% - 0px / 2 + 0.5px);
  color: #fff;
  width: 327px;
}

.categories ul {
  display: flex;
  flex-direction: column;
  height: 1261px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.language {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 281.46px;
  left: 51.77px;
  top: 120px;
}

.language h2 {
  display: flex;
  align-items: center;
  padding-left: 35px;
  color: #ffff;
  height: 24px;
  left: 49.46px;
  top: 8.73px;
  font-family: Interi, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  background-image: url(images/language.png);
  background-repeat: no-repeat;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  height: 216px;
  left: 19.73px;
  top: 65.46px;
}

.list .lang {
  color: #ffff;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  padding: 12px 0;
}

.frameworks {
  display: flex;
  flex-direction: column;
  position: static;
  height: 336px;
  left: 24px;
  top: 425.46px;
  padding: 24px 0;
}

.frameworks h2 {
  display: flex;
  align-items: center;
  color: #ffff;
  height: 24px;
  left: 42px;
  top: 8px;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding-left: 35px;
  background-image: url(images/frameworks.png);
  background-repeat: no-repeat;
}

.list1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 336px;
  left: 24px;
  top: 425.46px;
}

.list1 .frame {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffff;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  padding: 12px 0;
}

.skills {
  display: flex;
  flex-direction: column;
  height: 336px;
  left: 88px;
  top: 785.46px;
  padding: 24px 0;
}

.skills h2 {
  display: flex;
  align-items: center;
  color: #ffff;
  width: 115px;
  height: 24px;
  left: 42px;
  top: 8px;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding-left: 25px;
  background-image: url(images/circle.png);
  background-repeat: no-repeat;
}

.list2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  height: 272px;
  left: 15.5px;
  top: 64px;
}

.list2 .skill {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffff;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  padding: 12px 0;
}

footer {
  display: flex;
  flex-direction: column;
  height: 980px;
  background-color: #fff;
  margin: -10px;
  padding: 120px 0 0 24px;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 844px;
  width: 100%;
  align-items: center;
  padding: 0 24px;
  margin: -10px;
}

.remarks {
  width: 100%;
  height: 216px;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #172b4d;
  padding-top: 100px;
  margin: 24px 0;
}

fieldset {
  height: 330px;
  border: none;
  padding-top: 200px;
  margin: -10px;
}

label {
  display: none;
}

legend {
  display: none;
}

#name {
  display: flex;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #979493;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #dbd8d7;
  border-color: #dbd8d7;
  margin-bottom: 39px;
  width: 100%;
  background-color: #fff;
}

#email {
  display: flex;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #979493;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
  border-color: #dbd8d7;
  margin-bottom: 39px;
  background-color: #fff;
}

#msg {
  display: flex;
  align-items: center;
  border: none;
  color: #979493;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: #fbf8f7;
  width: 327px;
  height: 114px;
  margin-bottom: 24px;
}

.orange-button4 {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  filter: contrast(1.8);
}

.socialfooter {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  padding-top: 10px;
}

.bottomNav {
  align-self: center;
}

.last {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.divide {
  display: flex;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #979493;
  width: 100%;
  margin-left: -10px;
  border-bottom: 1px solid #dbd8d7;
  border-color: #dbd8d7;
  margin-bottom: 10px;
  background-color: #fff;
}

/* For a desktop */

@media only screen and (min-width: 1024px) {
  .container {
    height: 870px;
    background-image: url("images/IllustrationDesktop.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 600px 800px;
  }

  nav .menu {
    margin: 34px;
    display: none;
  }

  .border-bottom {
    border-bottom: none;
    padding-bottom: 10px;
    width: 100%;
  }  
  
  .nav-bar-list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 32px;
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
  }

  .card h1 {
    font-size: 72px;
    font-style: normal;
    margin-bottom: 70px;
    font-weight: normal;
  }

  .card h3 {
    font-size: 32px;
  }

  .card article {
    width: 100%;
    margin-inline-end: auto;
    margin-top: 75px;
  }

  .aboutMe p {
    width: 50%;
  }

  .first p {
    display: none;
  }

  .card article p {
    font-size: 20px;
    line-height: 32px;
    width: 50%;
  }

  .social {
    flex-direction: column;
    padding-left: 30px;
    padding-top: 50px;
    height: 300px;
    width: 120px;
    margin-top: 185px;
    font-size: 25px;
  }

  .container1 {
    height: 1900px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .card1 {
    flex-direction: row;
  }

  .myWork {
    position: relative;
  }

  .firstline {
    position: absolute;
    top: 30px;
    right: -50%;
    width: 100%;
  }

  .card1 h2 {
    margin: 10px;
  }

  hr {
    width: 327px;
    background-color: #212121;
  }

  img {
    width: 684px;
    height: 448px;
  }

  .card2container {
    display: grid;
    grid-template-columns: repeat(3, 405px);
    grid-template-rows: repeat(2, 435px);
    row-gap: 37px;
    column-gap: 24px;
    justify-content: space-around;
  }

  .first {
    background-image: url(images/first.png);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: contrast(1.5);
  }

  .first h3 {
    display: none;
  }

  .first .button1 {
    display: none;
  }

  .orange-button2 {
    display: none;
  }

  .second {
    background-image: url(images/second.png);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: contrast(1.5);
  }

  .third {
    background-image: url(images/third.png);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: contrast(1.5);
  }

  .fourth {
    background-image: url(images/fourth.png);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: contrast(1.5);
  }

  .fifth {
    background-image: url(images/fifth.png);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: contrast(1.5);
  }

  .sixth {
    background-image: url(images/third.png);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: contrast(1.5);
  }

  .buttons1 {
    padding-bottom: 10px;
  }

  .aboutMe {
    height: 563px;
    background-image: url(images/Framedesktop.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    padding-left: 50px;
    padding-top: 100px;
  }

  .container2 {
    height: 1225px;
  }

  .container2 hr {
    top: calc(50% - 0px / 2 + 0.5px);
    color: #fff;
    width: 100%;
    padding-right: 100px;
  }

  .categories .cat {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .categories .list {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }

  .frameworks {
    justify-content: flex-start;
  }

  .bottomNav {
    align-self: center;
  }

  footer {
    padding: 80px 0 0 24px;
    height: 70vh;
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 100px;
  }

  .remarks {
    text-align: left;
    margin-right: 50px;
    font-size: 40px;
    margin-top: 0;
    padding-top: 0;
    max-width: max-content;
  }

  fieldset {
    margin: 0;
    padding-top: 40px;
  }

  .orange-button4 {
    margin: 0;
  }

  #name {
    width: 100%;
  }

  #email {
    width: 100%;
  }

  #msg {
    width: 750px;
  }

  .last {
    display: none;
  }

  .categories ul {
    height: auto;
  }

  /* Makes the logo rotate and change color once when you hover over it */

  .toolbar a h3:hover {
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: 1;
  }

  img:hover {
    transform: scale(1.01);
  }

  .card2:hover {
    transform: scale(1.02);
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
      color: aquamarine;
      font-size: 20px;
    }
  }
}
